.voteC {
    width: 100%;
    height: 100%;
}

.votes {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.votes ul {
    display: flex;
    align-items: center;
}

.votes ul li {
    padding: 0px 5px;
    border: 1px solid #f40;
    margin: 0 5px;
    font-size: 13px;
    color: #f40;
}

.votes ul li.active {
    background: #f40;
    color: #fff;
}

.cont {
    width: 100%;
    height: auto;
}

.dl {
    width: 100%;
    height: 80px;
    display: flex;
    border: 1px solid #ccc;
}

.dl dt {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
}

.dl dt img {
    width: 100%;
    height: 100%;
    display: block;
}

.dl dd {
    flex: 1;
    height: 100%;
}

.dl dd p {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.dl dd p span {
    font-size: 13px;
}

.htitle {
    font-size: 13px;
    font-weight: bold;
    font-style: oblique;
}